// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #4b4b4b;
$title-color:       rgba(255, 255, 255, 0.7);
// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {

  background-color: $background-color;

  .title {
            color: $title-color;
	    margin-bottom: 10px;
 }
}
